.validationSection,.unlegalAge {
  height: 100vh;
  display: flex;
  align-items: center;
  .validationQuestion{
    margin-top: 60px;
    @media only screen and #{$sm}{
      margin-top: 40px;
    }
  }
  .validationInform {
    p {
      color: $black;
      font-size: 16px;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }

  .validationYear {
    width: 160px;
    height: 100px;
    @media only screen and #{$xs}{
      width: 120px;
      height: 70px;
    }
  }

  .rememberPart {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $black;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkmark:after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: -2px;
    left: 0px;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid $black;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid $black;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }


  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  .underAgeBackground {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .rememberCheckmark {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 80px;
    @media only screen and #{$sm}{
      bottom: 30px;
    }
  }

  .logo {
    width: $pageLogo;
    @media only screen and #{$sm}{
      width: 130px;
    }
  }

  .validationAnswer {
    margin-top: 40px;
    a {
      display: inline-block;
      color: #000000;
      font-size: 15px;
      border: 1px solid #000000;
      padding: 13px 28px;
      margin: 0 10px;
      &:hover{
        text-decoration: unset;
      }
    }
  }
}
