@font-face {
  font-family:"CantataRegular";
  src: url("/fonts/CantataOne-Regular.ttf");
}
@font-face {
  font-family:"OpenSans";
  src: url("/fonts/OpenSans-Regular.ttf");
}

.validationInform {
  p {
    font-family: CantataRegular;
  }
}
.validationAnswer {
  a{
    font-family:OpenSans;
  }
}
.rememberPart{
  font-family:OpenSans;
}