@font-face {
  font-family: "CantataRegular";
  src: url("/fonts/CantataOne-Regular.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Regular.ttf");
}
.validationInform p {
  font-family: CantataRegular;
}

.validationAnswer a {
  font-family: OpenSans;
}

.rememberPart {
  font-family: OpenSans;
}

/* MEDIA BREAKPOINTS */
/* COLOR NAMES */
/* METRICS (ELEMENT SIZES) */
.validationSection, .unlegalAge {
  height: 100vh;
  display: flex;
  align-items: center;
}
.validationSection .validationQuestion, .unlegalAge .validationQuestion {
  margin-top: 60px;
}
@media only screen and (max-width:768px) {
  .validationSection .validationQuestion, .unlegalAge .validationQuestion {
    margin-top: 40px;
  }
}
.validationSection .validationInform p, .unlegalAge .validationInform p {
  color: #000000;
  font-size: 16px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.validationSection .validationYear, .unlegalAge .validationYear {
  width: 160px;
  height: 100px;
}
@media only screen and (max-width: 575px) {
  .validationSection .validationYear, .unlegalAge .validationYear {
    width: 120px;
    height: 70px;
  }
}
.validationSection .rememberPart, .unlegalAge .rememberPart {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000000;
}
.validationSection .rememberPart input, .unlegalAge .rememberPart input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.validationSection .rememberPart input:checked ~ .checkmark:after, .unlegalAge .rememberPart input:checked ~ .checkmark:after {
  display: block;
}
.validationSection .checkmark, .unlegalAge .checkmark {
  position: absolute;
  top: -2px;
  left: 0px;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #000000;
}
.validationSection .checkmark:after, .unlegalAge .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #000000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.validationSection input[type=number]::-webkit-inner-spin-button,
.validationSection input[type=number]::-webkit-outer-spin-button, .unlegalAge input[type=number]::-webkit-inner-spin-button,
.unlegalAge input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.validationSection .underAgeBackground, .unlegalAge .underAgeBackground {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.validationSection .rememberCheckmark, .unlegalAge .rememberCheckmark {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 80px;
}
@media only screen and (max-width:768px) {
  .validationSection .rememberCheckmark, .unlegalAge .rememberCheckmark {
    bottom: 30px;
  }
}
.validationSection .logo, .unlegalAge .logo {
  width: 200px;
}
@media only screen and (max-width:768px) {
  .validationSection .logo, .unlegalAge .logo {
    width: 130px;
  }
}
.validationSection .validationAnswer, .unlegalAge .validationAnswer {
  margin-top: 40px;
}
.validationSection .validationAnswer a, .unlegalAge .validationAnswer a {
  display: inline-block;
  color: #000000;
  font-size: 15px;
  border: 1px solid #000000;
  padding: 13px 28px;
  margin: 0 10px;
}
.validationSection .validationAnswer a:hover, .unlegalAge .validationAnswer a:hover {
  text-decoration: unset;
}

/*# sourceMappingURL=style.css.map */
