/* MEDIA BREAKPOINTS */

// todo add all media breakpoints under
$xs: '(max-width: 575px)';
$sm: '(max-width:768px)';
$md: '(max-width:991px)';
$ltLg: '(max-width: 1200px)';

/* COLOR NAMES */

$black:#000000;
$white:#ffffff;
$lightDark:#eeeeee;
$gray:#d6d6d6;
$activeLinkBulletClr: #ec1a3b;
$strongGray:#4a4a4a;

/* METRICS (ELEMENT SIZES) */

$logoWidth: 280px;
$pageLogo:200px;